#rock, #paper, #scissors {
    color: blue;
    height: 100px; 
    width: 100px; 
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: none;
}

a {
    color: whitesmoke;
}

#homepage {
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
}

#exit, #play {
    background-color: #2E702F;
    color: #C6EBCC;
    height: 50px; 
    width: 100px; 
    font-family: "Lemon", cursive;
    font-weight: 100;
    text-align: center;
    border-radius: 100px;
    margin-top: 20px;
}

#page {
    height: 800px;
    width: 800px;
    display: flex;
    text-align: center;
    align-items: center;
}

.container {
    display: flex;
    height: 400px;
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#rock {
    background-image: url("img/rock.jpg");
    background-size: 100%;
    background-size: cover;
}

#paper {
    background-image: url("img/paper.jpg");
    background-size: 100%;
    background-size: cover;
}

#scissors {
    background-image: url("img/scissors.jpg");
    background-size: 100%;
    background-size: cover;
}

body {
    background-color: #C6EBCC;
    color: #2E702F;
    font-family: "Lemon", cursive;
    font-weight: 100;
    text-align: center;
}

#border {
    display: flex;
    justify-content: center;
    align-items: center;
}

#scores {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px; 
}